:root {
    /* COLOURS */
    --color-black: #000;
    --color-white: #FFF;
    --color-grey: #F3F5F7;
    --color-grey-dark: #25292D;
    --color-blue-dark: #083D77;
    --color-blue-medium: #0D63BF;
    --color-blue-light: #D8EBFD;
    --color-orange-medium: #FCA311;
    --color-orange-light: #FED89A;
    --color-green-medium: #11D07D;
    --color-green-light: #B4F8DC;
    --gradient-blue:
        linear-gradient(
            115deg,
            var(--color-blue-dark) 48%,
            transparent 48%
        );
    --heading-secondary-size: 3rem;
    /* PLAYER ACTION BUTTONS */
    --btn-bottom-space: 3rem;
    --btn-padding-left: 2.5rem;
    --btn-bg-info: top 50% right 1rem no-repeat var(--color-blue-light);
    --btn-bg-sizes: auto, 40%;
}

body {
    background-color: var(--color-grey-dark);
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    padding: 2rem 4rem;
}

/* HEADINGS */

h1,
h2,
h3 { text-transform: uppercase; }

h1 {
    color: var(--color-white);
    font-family: 'Zilla Slab', serif;
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: .2rem;
    margin-bottom: 3rem;
    text-align: center;
    word-spacing: .3rem;
}

h2 {
    font-size: var(--heading-secondary-size);
    font-weight: 400;
    text-align: center;
}

/* MAIN PAGE CONTENT */

.main-container {
    display: flex;
    height: 72.5%;
    justify-content: space-between;
}

.main-child {
    background-color: var(--color-grey);
    border-radius: 1rem;
    box-shadow: 1rem 1rem 2.5rem rgba(0, 0, 0, .8);
    display: grid;
    /* Shorthand for grid-template-rows / grid-template-columns */
    grid-template: calc(var(--heading-secondary-size) + .5rem) 1fr / 1fr;
    padding: 1.5rem 2.5rem 2.5rem;
    row-gap: calc(var(--btn-bottom-space) - 1rem);
    /* Support for older browsers not recognizing `row-gap`. */
    grid-row-gap: calc(var(--btn-bottom-space) - 1rem);
}

.main-child > * { grid-column: 1 / 2; }

.main-child > h2 { grid-row: 1 / 2; }
.main-child > div { grid-row: 2 / 3; }

.player-box {
    border: .3rem solid var(--color-blue-medium);
    color: var(--color-blue-medium);
    width: 28%;
}

/* BUTTONS */

.buttons-container {
    display: grid;
    /* Use [name] to reference respective row line numbers. */
    grid-template:
        [button1-start] 1fr
        [button2-start] 1fr
        [button3-start] 1fr
        [buttons-end] / 1fr;
    row-gap: var(--btn-bottom-space);
    grid-row-gap: var(--btn-bottom-space);
}

.action-button {
    border-radius: 5.5rem;
    box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, .2);
    color: var(--color-white);
    font-size: 2rem;
    font-weight: 300;
    grid-column: 1 / 2;
    text-align: left;
    text-transform: uppercase;
    transition: all .2s;
}

.action-button--1 {
    background:
        var(--gradient-blue),
        url("../images/rock.png") var(--btn-bg-info);
    background-size: var(--btn-bg-sizes);
    /* Button begins at line [button1-start] and spans 1 row. */
    grid-row: button1-start / span 1;
    padding-left: var(--btn-padding-left);
}

.action-button--2 {
    background:
        var(--gradient-blue),
        url("../images/paper.png") var(--btn-bg-info);
    background-size: var(--btn-bg-sizes);
    grid-row: button2-start / span 1;
    padding-left: var(--btn-padding-left);
}

.action-button--3 {
    background:
        var(--gradient-blue),
        url("../images/scissors.png") var(--btn-bg-info);
    background-size: var(--btn-bg-sizes);
    grid-row: button3-start / span 1;
    padding-left: calc(var(--btn-padding-left) - .25rem);
}

.action-button:hover {
    box-shadow: .75rem .75rem 3rem rgba(0, 0, 0, .3);
    transform: translateY(-.5rem);
}

.action-button:focus { outline: none; }

.action-button:active {
    box-shadow: .55rem .55rem 3rem rgba(0, 0, 0, .2);
    transform: translateY(-.2rem);
}

/* CURRENT ROUND RESULTS */

.results-box {
    border: .3rem solid var(--color-orange-medium);
    font-size: 2rem;
    width: 37%;
}

.results-heading { color: var(--color-orange-medium); }

.results-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 3rem;
}

/* PLAYER SELECTIONS FROM CURRENT ROUND */

.actions-container,
.score-container {
    align-items: center;
    display: flex;
}

.actions-container {
    justify-content: space-around;
    text-align: center;
}

.player-action,
.computer-action {
    background-color: var(--color-blue-light);
    border: .1rem solid var(--color-blue-medium);
    border-radius: 50%;
    display: inline-block;
    height: 15rem;
    width: 15rem;
}

.rock-play {
    background:
        url("../images/rock.png")
        center
        no-repeat
        var(--color-blue-light);
    background-size: 70%;
}

.paper-play {
    background:
        url("../images/paper.png")
        center
        no-repeat
        var(--color-blue-light);
    background-size: 70%;
}

.scissors-play {
    background:
        url("../images/scissors.png")
        center
        no-repeat
        var(--color-blue-light);
    background-size: 70%;
}

/* PLAYER SCORE COUNTS */

.score-container {
    background-color: var(--color-orange-medium);
    justify-content: space-between;
    padding-left: 2rem;
}

.score-container:not(:first-child) { margin-top: 1rem; }

.score-heading {
    color: var(--color-white);
    font-weight: 700;
}

.score {
    background-color: var(--color-orange-light);
    display: inline-block;
    font-family: monospace;
    font-size: 3rem;
    padding: 1rem 3rem;
}

.winner::before {
    content: "🏆";
    display: inline-block;
    padding-right: 1rem;
}

.winner::after {
    content: "🏆";
    display: inline-block;
    padding-left: 1rem;
}

.green-bg {
    background-color: var(--color-green-medium);
}

.green-light-bg {
    background-color: var(--color-green-light);
}
